<h2>Desenvolvimento do Site</h2>
<p>Este site foi desenvolvido usando uma combinação de tecnologias web, incluindo:</p>
<ul>
    <li>HTML: para estruturação do conteúdo;</li>
    <li>CSS: para estilização e aparência visual;</li>
    <li>JavaScript: para interatividade e dinamismo;</li>
</ul>
<p>O desenvolvimento envolveu a criação de diferentes arquivos, organização do código e garantia de uma experiência do usuário agradável.</p>